@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-light-beige: #F8F4EF;
  --color-beige: #F3EADF;
  --color-beige-border: #E8D2BC;
  --color-brown: #4F3423;
  --color-light-brown: #8A684C;
  --font-headings: "Merriweather", serif;
  --font-content: "Inter", sans-serif;

}