@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-light-beige: #F8F4EF;
  --color-beige: #F3EADF;
  --color-beige-border: #E8D2BC;
  --color-brown: #4F3423;
  --color-light-brown: #8A684C;
  --font-headings: "Merriweather", serif;
  --font-content: "Inter", sans-serif;

}
/* general styling */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F3EADF;
}


@layer components{
  /* general styling for all the pages */
  .page{
                                                                                      /* overflow-y-auto means: allow vertical scrolling when content overflows */
    @apply flex-1 flex flex-col gap-8 md:gap-10 md:px-12 md:py-14 px-4 py-4 md:w-[85%]  overflow-y-auto md:ml-[15%];
  }
  .page-title{
    @apply font-headings text-brown font-bold text-3xl ml-2;
  }
  .page-paragraph{
    @apply font-content mt-3 text-light-brown;
  }

  /* side bar */
  .sidbar-element{
    @apply flex gap-3 p-4 rounded-lg w-full items-center cursor-pointer transition duration-300 hover:bg-light-brown/30;
  }
  .sidbar-icon {
    @apply text-beige-border w-7 h-7;
  }
  .sidbar-text{
    @apply text-light-beige text-lg font-content;
  }

  /* dashboard */
  .card{
    @apply bg-light-beige p-4 md:px-6 md:py-8 flex rounded-xl gap-8 border border-solid border-beige-border items-center cursor-pointer;
  }
  .card-icon{
    @apply md:w-20 md:h-20 w-15 h-15 bg-beige-border/70 rounded-full flex items-center justify-center;
  }
  .card-text-1{
    @apply font-content text-brown text-xl md:text-3xl font-semibold md:mb-2;
  }
  .card-text-2{
    @apply font-content text-brown  text-lg font-semibold md:mb-2;
  }
  .card-text-3{
    @apply font-content text-light-brown  font-medium;
  }

  /* bottom bar */
  .bottom-element{
    @apply flex flex-col items-center cursor-pointer;
  }
  .bottom-icon{
    @apply h-8 w-10 rounded-lg flex items-center justify-center transition duration-300 hover:bg-beige-border/50;
  }
  .bottom-text{
    @apply font-content font-semibold text-brown text-xs;
  }

  /* lists */
  .filter{
    @apply font-content text-light-brown px-4 py-1 border border-solid border-light-brown rounded-full hover:bg-brown hover:text-light-beige hover:cursor-pointer hover:border-brown transition duration-300 text-[10px]  md:text-base;
  }

}